;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{:aliases
 {:new {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
        :main-opts ["-m" "clj-new.create"]}

  :gen {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
        :main-opts ["-m" "clj-new.generate"]}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  ;; NOTE: below is wc version
  ;; :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "RELEASE"}
  ;;                      philoskim/debux   {:mvn/version "0.8.2"}}
  ;;         :main-opts ["-m" "nrepl.cmdline"
  ;;                     "--middleware" "[cider.nrepl/cider-middleware]"
  ;;                     "--interactive"]}

  :prepl {:extra-deps {olical/propel {:mvn/version "RELEASE"}}
          :main-opts ["-m" "propel.main" "-w"]}

  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}

  :jar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
        :main-opts ["-m" "hf.depstar.jar"]}

  :depify {:extra-deps {depify/depify {:git/url "https://github.com/hagmonk/depify"
                                       :sha     "b3f61517c860518c1990133aa6eb54caf1e4d591"}}
           :main-opts  ["-m" "depify.project"]}

  :zprint {:extra-deps {zprint/zprint {:mvn/version "RELEASE"}}
           :main-opts ["-m" "zprint.main"]}}}
